In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\haier\anaconda3\lib\site-packages (3.5.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\haier\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\haier\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\haier\anaconda3\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\haier\anaconda3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.17 in c:\users\haier\anaconda3\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\haier\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\haier\anaconda3\lib\site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\haier\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in c:\users\haier\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\haier\anaconda3\lib\site-packages (1.21.5)

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
cg = pd.read_csv('turkey.csv', encoding = 'ISO-8859-1')

In [3]:
cg.isnull().sum()

Unnamed: 0    0
Date          2
Time          2
user          2
Tweet         2
dtype: int64

In [4]:
cg = cg.dropna()

In [5]:
!pip install neattext

Requirement already satisfied: neattext in c:\users\haier\anaconda3\lib\site-packages (0.1.3)

In [7]:
import neattext.functions as nfx

In [8]:
cg['clean_tweet']= cg['Tweet'].apply(nfx.remove_hashtags)

In [9]:
cg['clean_tweet'] = cg['clean_tweet'].apply(nfx.remove_multiple_spaces)

In [10]:
cg['clean_tweet'] = cg['clean_tweet'].apply(nfx.remove_urls)

In [11]:
cg['clean_tweet'] = cg['clean_tweet'].apply(nfx.remove_puncts)

In [12]:
cg['clean_tweet'] = cg['clean_tweet'].apply(nfx.remove_special_characters)

In [13]:
cg.isnull().sum()

Unnamed: 0     0
Date           0
Time           0
user           0
Tweet          0
clean_tweet    0
dtype: int64

In [14]:
cg[['Tweet','clean_tweet']]

,Tweet,clean_tweet
0,The situation in Kahramanmaras proved civiliza...,The situation in Kahramanmaras proved civiliza...
1,"Please donate, like share RAISE AWARENESS THAT...",Please donate like share RAISE AWARENESS THAT ...
2,Alhamdulilllah they are safe and sound â¤ï¸ ...,Alhamdulilllah they are safe and sound
3,@patagonia @fcdsurfboards Send the best warmes...,patagonia fcdsurfboards Send the best warmest ...
4,Alhamdulillah ...A 10 day old baby was rescued...,Alhamdulillah A 10 day old baby was rescued al...
...,...,...
48078,Big earthquake felt throughout #Lebanon just a...,Big earthquake felt throughout just a few mome...
48079,A powerful #earthquake just hit Metn area in L...,A powerful just hit Metn area in Lebanon at 03...
48080,#Turkish Volunteers Train For The Ukrainian Fr...,Volunteers Train For The Ukrainian Frontlines...
48081,ðThe #Turkish authorities have demanded the...,The authorities have demanded the former mayor...
48082,ðThe #Turkish authorities have demanded the...,The authorities have demanded the former mayor...

In [15]:
cg.to_csv("turkey_processed.csv", index=False)